<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Science
* List Data science Tool
* Evaluate Arithmetic expressions

*Some of the popular languages that Data Scientists use are:*
1. Python
2. R
3. SQL
4. Scala

*Some of the commonly used libraries used by Data Scientists include:*
* Pandas
* NumPy
* SciPy
* Matplotlib
* Keras
* TensorFlow

## List of Data Science Tools in 1 columns

|Data Science Tools | 
|---| 
|Jupyter Notebooks| 
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
M = 200
H= 200 / 60
print(H)

3.3333333333333335

## Author
Sabitha