<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Data Science Assignment 2

### Introduction to Data science

*Data science languages*
* Python
* R
* SQL
* Scala

Data science Libraries
* Pandas
* NumPy
* SciPy
* Matplotlib
* Keras
* TensorFlow
* Apache Spark

List of Data Science Tools in 2 columns
| Open source Tools | Commercial  Tools |
| ----------------- | ----------------- |
| MySQL | Oracle Database |
| PostgreSQL| Microsoft SQL Server|
| MongoDB Apache CouchDB | IBM Db2 |
| Apache Cassandra | Informatica Powercenter |
| Hadoop file system| IBM InfoSphere DataStage |
| Ceph | Tableau |
| Elasticsearch | Microsoft Power BI |
| Apache AirFlow |IBM Cognos Analytics |
| KubeFlow | SPSS Modeler |
| Apache Kafka | SAS Enterprise Miner |
| Apache Nifi | Watson Studio Desktop |
| Apache SparkSQL | H2O Driverless |

_Introducing arithmetic expressions - Add 2 numbers and then multiply_

In [8]:
S = (3+4)
P = S * 5
print(P)

35

_Convert minutes to hours_

In [9]:
M = 90
H= 90 / 60
print(H)

1.5

*Objectives*
* Share through Github
* Take screenshot

# Author
Sabitha